BR2_x86_64=y
BR2_x86_corei7_avx=y
BR2_CCACHE=y
BR2_CCACHE_DIR="/build/ccache"
BR2_ENABLE_DEBUG=y
BR2_DEBUG_3=y
BR2_OPTIMIZE_FAST=y
BR2_REPRODUCIBLE=y
BR2_UCLIBC_CONFIG="/workspaces/the-bike-shed/host-dev-uclibc.config"
BR2_ROOTFS_MERGED_USR=y
BR2_PACKAGE_BUSYBOX_CONFIG="/workspaces/the-bike-shed/host-dev-busybox.config"
BR2_TARGET_ROOTFS_SQUASHFS=y
# BR2_TARGET_ROOTFS_TAR is not set
